{% extends 'base.html' %}
{% block content %}
<div class="horizontal-line">
  <h3>{{ thisRecipe }}</h3>
  <div class="meal-image">
    <img src="{{ thisRecipe.mealPic.url }}" width='800' height='auto'></img>
  </div>
  <br>

  <div class=text>
  Cook Time: {{ thisRecipe.mealCookTime }} minutes
  <br>
  {% if thisRecipe.mealCalories == "" %}
    Calories: not provided
  {% else %}
    Calories: {{ thisRecipe.mealCalories }} kcal
  {% endif %}
  <hr>

<h2>Ingrediences</h2>
  {% if thisRecipe.mealIngredient1 != "" %}
  <strong>1.</strong> {{ thisRecipe.mealIngredient1 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient2 != "" %}
  <strong>2.</strong> {{ thisRecipe.mealIngredient2 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient3 != "" %}
  <strong>3.</strong> {{ thisRecipe.mealIngredient3 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient4 != "" %}
  <strong>4.</strong> {{ thisRecipe.mealIngredient4 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient5 != "" %}
  <strong>5.</strong> {{ thisRecipe.mealIngredient5 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient6 != "" %}
  <strong>6.</strong> {{ thisRecipe.mealIngredient6 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient7 != "" %}
  <strong>7.</strong> {{ thisRecipe.mealIngredient7 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient8 != "" %}
  <strong>8.</strong> {{ thisRecipe.mealIngredient8 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient9 != "" %}
  <strong>9.</strong> {{ thisRecipe.mealIngredient9 }}
  <br>
  {% endif %}

  {% if thisRecipe.mealIngredient10 != "" %}
  <strong>10.</strong> {{ thisRecipe.mealIngredient10 }}
  <br>
  {% endif %}
  <hr>

<h2>Procedure</h2>
  {% if thisRecipe.mealDirection1 != "" %}
  <strong>1.</strong> {{ thisRecipe.mealDirection1 }}
  <br><br>
  {% endif %}

  {% if thisRecipe.mealDirection2 != "" %}
  <strong>2.</strong> {{ thisRecipe.mealDirection2 }}
  <br><br>
  {% endif %}

  {% if thisRecipe.mealDirection3 != "" %}
  <strong>3.</strong> {{ thisRecipe.mealDirection3 }}
  <br><br>
  {% endif %}

  {% if thisRecipe.mealDirection4 != "" %}
  <strong>4.</strong> {{ thisRecipe.mealDirection4 }}
  <br><br>
  {% endif %}

  {% if thisRecipe.mealDirection5 != "" %}
  <strong>5.</strong> {{ thisRecipe.mealDirection5 }}
  <br><br>
  {% endif %}
  <hr>

<h2>Your Rating</h2>

  <form method="POST" action="{% url 'success_view' %}">
    {% csrf_token %}
    {% for radio in thisForm.radio_button %}
      {{ radio }}
    {% endfor %}
    <input type="submit" name="submit-btn" class="save btn btn-default btn-lg btn-primary" value="Rate">
  </form>
  </div>
</div>
{% endblock %}
