{% extends 'base.html' %}
{% block content %}
<div class="horizontal-line">
  <h2>{{ thisRecipe }}<h2>
  <img src="{{ thisRecipe.mealPic.url }}" width='800' height='auto'></img>
  <br>

  Doba přípravy: {{ thisRecipe.mealCookTime }} minut
  <br>
  {% if thisRecipe.mealCalories == "" %}
    Počet kalorií: not provided
  {% else %}
    Počet kalorií: {{ thisRecipe.mealCalories }}
  {% endif %}

<h2>Ingredience</h2>
  {% if thisRecipe.mealIngredient1 != "" %}
  1. {{ thisRecipe.mealIngredient1 }}
  {% endif %}

  {% if thisRecipe.mealIngredient2 != "" %}
  2. {{ thisRecipe.mealIngredient2 }}
  {% endif %}

  {% if thisRecipe.mealIngredient3 != "" %}
  3. {{ thisRecipe.mealIngredient3 }}
  {% endif %}

  {% if thisRecipe.mealIngredient4 != "" %}
  4. {{ thisRecipe.mealIngredient4 }}
  {% endif %}

  {% if thisRecipe.mealIngredient5 != "" %}
  5. {{ thisRecipe.mealIngredient5 }}
  {% endif %}

  {% if thisRecipe.mealIngredient6 != "" %}
  6. {{ thisRecipe.mealIngredient6 }}
  {% endif %}

  {% if thisRecipe.mealIngredient7 != "" %}
  7. {{ thisRecipe.mealIngredient7 }}
  {% endif %}

  {% if thisRecipe.mealIngredient8 != "" %}
  8. {{ thisRecipe.mealIngredient8 }}
  {% endif %}

  {% if thisRecipe.mealIngredient9 != "" %}
  9. {{ thisRecipe.mealIngredient9 }}
  {% endif %}

  {% if thisRecipe.mealIngredient10 != "" %}
  10. {{ thisRecipe.mealIngredient10 }}
  {% endif %}

<h2>Postup</h2>
  {% if thisRecipe.mealDirection1 != "" %}
  1. {{ thisRecipe.mealDirection1 }}
  {% endif %}

  {% if thisRecipe.mealDirection2 != "" %}
  2. {{ thisRecipe.mealDirection2 }}
  {% endif %}

  {% if thisRecipe.mealDirection3 != "" %}
  3. {{ thisRecipe.mealDirection3 }}
  {% endif %}

  {% if thisRecipe.mealDirection4 != "" %}
  4. {{ thisRecipe.mealDirection4 }}
  {% endif %}

  {% if thisRecipe.mealDirection5 != "" %}
  5. {{ thisRecipe.mealDirection5 }}
  {% endif %}

<h2>Uživatelské hodnocení</h2>

  <form method="POST" action="{% url 'success_view' %}">
    {% csrf_token %}
    {{ thisForm.radio_button }}
    <input type="submit" name="submit-btn" class="save btn btn-default btn-lg btn-primary" value="Hlasovat">
  </form>



  {% if thisIP != "" %}
    Jeste jste nehlasovali

  {% else %}
    Už jste hlasovali!
  {% endif %}


</div>


{% endblock %}
